<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<nav>
	  <div class="nav-wrapper">
	    <a href="" class="brand-logo">Logo</a>
	  
	  </div>
	</nav>
</head>
<body>
	<h2> Login in</h2>
	<section class="loginform cf">
		<form name="login" action="index_submit" method="get" accept-charset="utf-8" style='width: 200px; margin: 20px;'>
    		<ul>
		        <li><label for="usermail">Email</label>
		        <input type="email" name="usermail" placeholder="yourname@email.com" required></li>
		        <li><label for="password">Password</label>
		        <input type="password" name="password" placeholder="password" required></li>
		        <li>
		        <input type="submit" value="Login"></li>
    		</ul>
		</form>
	</section>
	<p> click <a href="auth/signup.html" >here</a> to signup</p>
</body>
</html>