<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<nav>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
	  <div class="nav-wrapper">
	    <a href="" class="brand-logo">Document Management Tracker</a>
	    <ul class="nav navbar-nav" style="float: right; margin-right: 20px; color: white;">
	      <li><a href="{{ url_for('auth.loginuser') }}">Logout</a></li> 
	      <li><a href="#">Search</a></li> 
    </ul>
	  
	  </div>
	</nav>
</head>
<body>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	<div id="login" style="width: 200px; height: 300px; left: 50%;">
		<h2> Login</h2>
		<section class="loginform cf">
			<form name="login" action="{{ url_for('auth.loginuser')}}" method="POST" accept-charset="utf-8" style='width: 200px; margin: 20px;'>
			    {{ form.csrf_token }}
	    		{% for fields in form %}
                    {{ label }} {{ fields }} 
				{% endfor %}
			</form>
		</section>
		<p> click <a href="{{ url_for('auth.signupuser')}}" >here</a> to signup</p>
	</div>
</body>
</html>