<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/CSS/styles.css"> 
	<nav>
	  <div class="nav-wrapper">
	    <a href="" class="brand-logo">Document Management Tracker</a>
	    	  </div>
	</nav>
</head>
<body>
	<h2> Signup here!</h2>
	<div id="login">
		<section class="loginform cf">
			<form name="login" action="/signup" method="POST" accept-charset="utf-8" style='width: 200px; margin: 20px;'>
				{{form.csrf_token}}
	    		<ul>
	    		<li><label for="name">Name</label>
			        <input type="text" name="name" placeholder="Name" required></li>
			        <li><label for="username">Email</label>
			        <input type="email" name="username" placeholder="yourname@email.com" required></li>
			        <li><label for="password">Password</label>
			        <input type="password" name="password" placeholder="password" required></li>
			        <li><label for="password">Confirm</label>
			        <input type="password" name="confirm" placeholder="password" required></li>
			        <li>
			        <input type="submit" value="Signup"></li>
	    		</ul>
			</form>
		</section>
	<div>S
</body>
</html>