<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/CSS/styles.css"> 
	<nav>
	  <div class="nav-wrapper">
	    <a href="" class="brand-logo">Document Management Tracker</a>
	    	  </div>
	</nav>
</head>
<body>
{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	<h2> Signup here!</h2>
	<div id="login">
		<section class="loginform cf">
			<form name="login" action="{{ url_for('auth.signupuser')}}" method="POST" accept-charset="utf-8" style='width: 200px; margin: 20px;'>
				{{form.csrf_token}}
	    		{{ form.csrf_token }}
	    		{% for fields in form %}
                    {{ label }} {{ fields }} 
				{% endfor %}
			</form>
		</section>
	<div>S
</body>
</html>