<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<!-- <link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<scrip --><!-- t type="text/javascript" src="/static/js/bootstrap-theme.js"></script>
 -->

	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	
	<script src="../../static/script.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/styles.css">
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Document Management Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Page 2</a></li> 
      <li><a href="#">Page 3</a></li> 
    </ul>
  </div>
  
</nav>
</head>
<body>
<div class="btn-group">
  <button type="button" class="btn btn-danger">Departments</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Success</a></li>
    <li><a href="#">Training</a></li>
    <li><a href="#">Operations</a></li>
    <li><a href="#">Finance</a></li>
    <li><a href="#">Recruitment</a></li>
    <li><a href="#">Sales</a></li>
    <li><a href="#">Marketing</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<button data-target="modal1" class="btn trigger">Modal</button>
	<!-- Modal Trigger -->
	<a href="#modal1" id="trigger" class="waves-effect waves-light btn modal-trigger" >Add</a>

	<!-- Modal Structure -->
	<div id="modal1" class="modal65">
				<!-- Button -->
      <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal-3">Add</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal-3" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4><i class="fa fa-user"></i> Add a BookMark</h4>
                </div>
                <!--/.Header-->

                <!--Body-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="align-items: center;">
                            <!--Form-->
                            <form action="{{ url_for('upload.addurl') }}" method="POST">
                                {% for fields in form %}
									<>{{ label }} {{ fields }} 
								{% endfor %}

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-lg waves-effect waves-light" value="Add">{{ form.add }}</button>
                                    
                                </div>

                            </form>
                            <!--/.Form-->
                        </div>
                    </div>
                </div>
                <!--/.Body-->
            </div>
        </div>
    </div>
    <!--/.Modal-->


	</div>	
  </div>
</body>
</html>